.spline-sans-mono {
    font-family: "Spline Sans Mono", monospace;
  }

.n-container{
    height: 10vh;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.n-logo {
    width: 200px; 
    height: auto;
    margin-right: 10px;
    margin-left: -10px;
  }


.n-left{
    flex:1;
    align-items: center;
    display: flex;
    gap:1 rem;
}


.n-right{
    display: flex;
    flex: 5;
    align-items: center;
    justify-content: center;
    font-weight: 400; 
}

.n-list{
    flex: 10;
}

.n-list a {
    text-decoration: none; 
    color: black; 
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.n-list a:hover {
    color:  #1a237e; 
}

.n-list>ul{
    display: flex;
    gap: 2.7rem;
    margin-right: 2rem;
    margin-left: -10px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.n-list>ul>li {
    white-space: nowrap; 
}

.n-button {
    background-color: #6b6f72;
    color: white; 
    padding: 5px 18px; 
    border: none; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-right: -14px;
} 
.n-button:hover {
    background-color: #4b5b63; 
    transform: scale(1.05); 
}

.n-button a {
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
    font-size: 16px;
}

.n-button a:hover {
    color: white; 
}