/* Genel container düzeni */
.register-container {
    display: flex;
    height: 100vh;
  }
  
  /* Sol taraf */
  .register-left {
    width: 50%;
    background-color: #f0f8ff; /* Arka plan rengini istediğiniz gibi ayarlayabilirsiniz */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .register-logo {
    width: 200px; /* Logoyu büyütüp küçültebilirsiniz */
    height: auto;
  }
  
  .register-welcome-text {
    font-size: 2rem;
    color: #5d6d7e;
    margin-top: 20px;
    text-align: center;
  }
  
  /* Sağ taraf */
  .register-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff; /* Sağ kısmın arka planı */
  }
  
  .register-form {
    width: 80%;
    max-width: 400px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .register-form form div {
    margin-bottom: 15px;
  }
  
  .register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    background-color: #5d6d7e; /* Lacivertimsi renk */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .register-form button:hover {
    background-color: #4a5b6a; /* Hover efekti */
    transform: scale(1.05);
  }
  
  .register-form p {
    text-align: center;
    margin-top: 15px;
  }
  
  .register-form p a {
    color: #5d6d7e;
    text-decoration: none;
  }
  
  .register-form p a:hover {
    text-decoration: underline;
  }
  