.call-to-action {
  background-color: #fff;  
  border: 2px solid #ff7f50; 
  border-radius: 10px;  
  width: 70%; 
  margin: 20px auto; 
  padding: 5px; 
  text-align: left; 
  font-size: 1.2rem; 
  color: #333; 
  overflow: hidden;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
}

.call-to-action::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5); /* Koyu gri opakl覺k */
  z-index: 1; /* Gri katman yaz覺lar覺n alt覺nda */
}


.call-to-action h2 {
  font-size: 1.6rem;  
  color: #fff;  
  margin-bottom: 20px;  
}

.call-to-action p {
  font-size: 1.1rem; 
  margin-bottom: 20px;  
}

.call-to-action .cta-button {
  background-color: #fff; 
  color: rgb(84, 82, 82);  
  padding: 8px 16px; 
  font-size: 1.2rem; 
  border: none;  
  border-radius: 5px; 
  cursor: pointer;  
  transition: background-color 0.3s ease;  
}

.call-to-action .cta-button:hover {
  background-color: #ff5722; 
}

