.call-to-action {
  background-color: #fff;  /* Arka planı beyaz yapalım */
  border: 2px solid #ff7f50;  /* Çerçeve rengini turuncu yapalım */
  border-radius: 10px;  /* Kenarları yuvarlatıyoruz */
  width: 70%;  /* Genişliği %80 yapalım */
  margin: 20px auto; /* Ortalayalım */
  padding: 5px; /* İç boşluğu arttıralım */
  text-align: left; /* Yazıyı ortalayalım */
  font-size: 1.2rem; /* Yazı boyutunu belirleyelim */
  color: #333; /* Yazı rengini koyu gri yapalım */
  background-image: url('/buton.jpg'); /* Resim arka planı olarak kullanılacak */
  background-size: cover; /* Resmi kutuya tam uyacak şekilde büyüt ve uyumla */
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Hafif bir gölge ekleyelim */
}

.call-to-action h2 {
  font-size: 1.6rem;  /* Başlık boyutunu büyütelim */
  color: #ff7f50;  /* Başlık rengini turuncu yapalım */
  margin-bottom: 20px;  /* Başlık ile metin arasında boşluk bırakalım */
}

.call-to-action p {
  font-size: 1.1rem; /* Metin boyutunu biraz büyütelim */
  margin-bottom: 20px;  /* Metin ile alt yazı arasında boşluk bırakalım */
}

.call-to-action .cta-button {
  background-color: #fff; /* Buton arka planını turuncu yapalım */
  color: rgb(84, 82, 82);  /* Buton metni beyaz olsun */
  padding: 8px 16px; /* Butonun iç boşluklarını ayarlayalım */
  font-size: 1.2rem; /* Buton yazı boyutu */
  border: none;  /* Butonun çerçevesini kaldıralım */
  border-radius: 5px;  /* Butonun köşelerini yuvarlayalım */
  cursor: pointer;  /* Fareyi üzerine getirdiğinde işaretçi değişsin */
  transition: background-color 0.3s ease;  /* Hover efekti */
}

.call-to-action .cta-button:hover {
  background-color: #ff5722; /* Hoverda daha koyu turuncu olacak */
}
