.category-bar {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #f1f1f1; /* Açık gri */
    padding: 10px 0;
  }

  .category-text {
    font-size: 1.3rem;  /* Yazı boyutunu büyüttük */
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;  /* Yazıyı kalın hale getirdik */
    transition: color 0.3s ease;
  }
  
  
  .category-bar button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #f8c471;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-bar button:hover {
    background-color: #eec88c; 
  }
  
  .lost-button {
    background-color: #FF5722; 
  }
  
  .lost-button:hover {
    background-color: #e64a19; 
  }