.create-listing-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
  }
  
  .left-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .left-section h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-group input[type="file"] {
    padding: 5px;
  }
  
  .form-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .info-text {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
  }
  
  /* Sağ kısım */
  .right-section {
    flex: 0 0 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* İlan görseli */
  .image-upload {
    margin-bottom: 20px;
  }
  
  .image-upload h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .submit-section {
    text-align: center;
  }
  
  .submit-section button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-section button:hover {
    background-color: #45a049;
  }
  
  .submit-section button[type="button"] {
    background-color: #f44336;
  }
  
  .submit-section button[type="button"]:hover {
    background-color: #e53935;
  }
  
  .submit-section label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .submit-section input[type="checkbox"] {
    margin-right: 5px;
  }
  
  /* Mobil uyumlu stil */
  @media (max-width: 768px) {
    .create-listing-page {
      flex-direction: column;
      align-items: center;
    }
  
    .left-section,
    .right-section {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  .create-listing-page .category-bar {
    display: block;
    justify-content: center; 
    width: 100%; 
    margin: 0;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 20px; 
    padding: 10px 0; 
    border-top: 1px solid #ccc; 
    background-color: #f8f8f8; 
  }
  
  .create-listing-page .category-bar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .create-listing-page .category-bar li {
    margin: 0 15px; 
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .create-listing-page .category-bar li:hover {
    background-color: #e0e0e0; 
    border-radius: 5px;
  }