.create-listing-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    flex-direction: row;
  }

  .create-listing-page .form-group label{
    margin-bottom: 20px;
    padding-right: 70px; /* İsteğe bağlı olarak form grubu içeriğini sağa kaydırır */
  }
  

  
  .left-section {
    flex: 1;
    padding: 20px;
    margin-left: 50px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }

  .left-section, .right-section {
    flex-basis: 65%; /* Her bir bölüm genişliğinin %45 olmasını sağlar */
    max-width: 65%;  /* Maksimum genişlik sınırı koyar */
    background-color: #f6efdb; /* Görünürlük için arka plan rengi ekledim */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Hafif bir gölge efekti */
  }
  
  /* Ortadaki boşluğu daha belirgin yapmak için */
  .create-listing-page {
    gap: 30px; /* Sol ve sağ bölümler arasındaki boşluk */
  }
  
  .left-section h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    flex-direction: column; 
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .form-group input,
  .form-group textarea,
  .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .form-group input[type="file"] {
    padding: 5px;
  }
  
  .form-group textarea {
    height: 150px;
    resize: vertical;
  }
  
  .info-text {
    font-size: 12px;
    color: #777;
    margin-top: 10px;
  }
  
  /* Sağ kısım */
  .right-section {
    flex: 0 0 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    margin-right: 25px;

  }
  
  /* İlan görseli */
  .image-upload {
    margin-bottom: 20px;
  }
  
  .image-upload h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .preview img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .submit-section {
    text-align: center;
  }
  
  .submit-section button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-section button:hover {
    background-color: #45a049;
  }
  
  .submit-section button[type="button"] {
    background-color: #f44336;
  }
  
  .submit-section button[type="button"]:hover {
    background-color: #e53935;
  }
  
  .submit-section label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .submit-section input[type="checkbox"] {
    margin-right: 5px;
  }
  
  @media (max-width: 768px) {
    .create-listing-page {
      flex-direction: column;
      align-items: center;
    }
  
    .left-section,
    .right-section {
      width: 100%;
      margin-bottom: 20px;
    }
  }

  