.lost-item-list {
  display: flex;
  flex-direction: column; /* Kategoriler üst üste gelsin */
  gap: 30px; /* Kategoriler arasındaki boşluk */
  padding: 20px;
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.item-cards {
  display: flex;
  gap: 10px; /* Kartlar arasındaki boşluk */
  flex-wrap: wrap; /* Kartların bir satıra sığmayanı bir alt satıra geçmesi için */
  justify-content: space-between; /* Kartları arasına eşit boşluk koyar */
}

.lost-item-card {
  background-color: #fff;
  border-radius: 10px;
  width: 22%; /* Kartların genişliğini %22 yaparak 4 kart bir satıra sığar */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Kartlar arasındaki mesafeyi artırdık */
  padding: 20px; /* İç boşluk */
  overflow: hidden;
  min-height: 350px; /* Kartın boyutunu uzattık */
}

.lost-item-card img {
  width: 100%;  /* Resmi kartın genişliğine göre ölçeklendir */
  height: 200px; /* Resmin yüksekliği */
  object-fit: cover; /* Resmin doğru şekilde sığmasını sağlar */
}

.lost-item-card .info {
  font-size: 1.1rem;
  margin-top: 15px;
}

.lost-item-card .cta {
  margin-top: 10px;
}