.lost-intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9; 
    position: relative; 
  }

  .lost-intro img {
    width: 100%;
    height: 400px; /* Resmin yüksekliğini sabitleyelim */
    object-fit: cover;
    filter: brightness(0.7) blur(5px); /* Resmin parlaklığını düşürüp bulanıklaştırma efekti */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0; /* Resmin altına boşluk bırakıyoruz */

  }
  
  .lost-intro h1 {
    position: relative; /* Yazıları resmin üzerine yerleştiriyoruz */
  z-index: 1; /* Yazıların resmin üstünde görünmesini sağlıyoruz */
  color: white;
  }
  
  .lost-intro p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
  }

  .lost-intro::before {
    content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(247, 208, 135, 0.5); /* Yarı saydam turuncu renk */
  z-index: 1;/* Efekti yazıların altına yerleştiriyoruz */
  }