.lost-intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9; 
    position: relative; 
  }

  .lost-intro img {
    width: 100%; /* Resmin genişliğini %100 yaparak tam genişlikte olmasını sağlıyoruz */
  height: auto; /* Yüksekliği orantılı olarak ayarlıyoruz */
  max-height: 400px; /* Resmin yüksekliğini sınırlandırıyoruz (ince uzun) */
  object-fit: cover; /* Resmi alana sığdırıyoruz, bozulmadan kesilmesini sağlıyoruz */
  position: absolute; /* Resmi üst üste getirmek için */
  top: 0;
  left: 0;
  z-index: -1; /* Resmin altına boşluk bırakıyoruz */
  }
  
  .lost-intro h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .lost-intro p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
  }