.lost-item-list {
  padding: 20px;
}

.category {
  margin-bottom: 40px;
}

.category h2 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 20px;
}

.item-cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.lost-item-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px; /* Kartlar arasındaki mesafeyi azalttık */
  padding: 20px; /* İç boşluğu ayarladık */
  min-height: 350px; /* Kartın boyutunu uzattık, yüksekliği artırdık */
}

.lost-item-card img {
  width: 100%;  /* Resmi genişletmek için */
  height: 200px; /* Resmin yüksekliğini belirledik */
  object-fit: cover; /* Resmin doğru şekilde sığmasını sağlarız */
}

.lost-item-card .info {
  font-size: 1.1rem;
  margin-top: 15px;
}

.lost-item-card .cta {
  margin-top: 10px;
}