.lost-intro {
    text-align: center;
    padding: 50px 20px;
    background-color: #f9f9f9; 
    position: relative; 
  }
  
  .lost-intro img {
    width: 80%; /* Resmin genişliğini yüzde 80 yaparak küçültüyoruz */
    max-width: 600px; /* Maksimum genişlik sınırlaması */
    height: auto; /* Yüksekliği orantılı tutarak bozulmamasını sağlıyoruz */
    object-fit: cover; /* Resmi alanına uygun şekilde yerleştiriyoruz */
    margin-bottom: 20px; /* Resmin altına boşluk bırakıyoruz */
  }
  
  .lost-intro h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .lost-intro p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
  }