.donate-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('/public/bagıs.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .donate-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .donate-content {
    position: relative;
    padding: 2rem;
    color: white;
    z-index: 1;
    margin-top: 200px;
  }
  
  .donate-title {
    font-size: 3rem;
    margin-bottom: 1rem;
    background-color: rgba(231, 84, 128, 0.7);
    padding: 10px 20px;
    display: inline-block;
  }
  
  .donate-subtitle {
    font-size: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    display: inline-block;
  }
  
  .donate-select {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
  }
  
  .info-title {
    position: relative;
    text-align: center;
    padding: 2rem;
    color: #333;
    background-color: white;
    /* Bilgilendirme başlığını yukarı taşımak için margin-top'ı azalttık */
    margin-top: 60vh;
  }