/* Genel stil ayarları */
.create-ad-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

/* Sidebar'ı sabit tutmak */
.sidebar {
  width: 250px;
}

/* Step-content kısmını ayarlıyoruz */
.step-content {
  flex: 1;
  padding: 20px;
}

/* Step-indicator'ı sıralama */
.step-indicator {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* Step-box sınıfını aktif/inaktif hale getiriyoruz */
.step-box {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.step-box.active {
  background-color: #ff8c00;
  color: white;
}

/* Başlık ve adımlar için düzenlemeler */
.step-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;  /* Burada adımlar arasındaki mesafeyi kısaltmak için gap kullanıyoruz */
}

.step-text {
  font-size: 16px;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin: 0;
}

.step-text.active-text {
  opacity: 1;
  color: #ff8c00;
}

.step h2 {
  margin: 0;
}

/* Step1'e özel stil */
.step1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step1 h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Diğer step'lere özel stiller */
.step {
  padding-top: 20px;
}
