.create-ad-container {
  display: flex;
  width: 100%;
}

.create-ad-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-left: 90px; /* Sağa kaydırma */
  margin-top: 20px; /* İlk konumlandırma */
  text-align: left;
  position: relative;
  top: 20px; /* Sidebar hizasına getirmek için yukarıdan boşluk */
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  height: 100vh;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Hafif gölge */
}

.step-content {
  margin-left: 270px;
  padding: 20px;
  width: calc(100% - 270px); /* Yan çubuğa göre içerik genişliği */
  display: flex;
  flex-direction: column;
}

.step-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Numara ve başlık arasında boşluk */
  gap: 50px; /* Numara kutuları arası mesafe */
  box-shadow: none; /* Kare görünümü oluşturan gölgeyi kaldır */
  border: none; 
}

.step-box {
  width: 40px; /* Kutuların genişliği */
  height: 40px; /* Kutuların yüksekliği */
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: background-color 0.3s ease, color 0.3s ease; /* Renk geçişi animasyonu */
}

.step-box.active {
  background-color: #ff8c00; /* Aktif kutu rengi */
  color: white;
}

.step-box.inactive {
  background-color: #ccc; /* Pasif kutu rengi */
  color: #666; /* Pasif metin rengi */
}

.step-description {
  display: flex;
  justify-content: center; /* Ortalansın */
  margin-top: -10px; /* Numara ile başlık arasındaki mesafe */
  gap: 80px; /* Başlıklar arasındaki mesafe */
}

.step-text {
  font-size: 14px; 
  text-align: center;
  width: auto; /* Dinamik genişlik */
  padding: 0;
  margin: 0;
}

.step-text h2 {
  font-size: 12px; 
  color: #333; /* Başlık metin rengi */
  margin-top: 5px;
  transition: color 0.3s ease, font-weight 0.3s ease; /* Animasyon */
}

.step-text.active-text h2 {
  color: #ff8c00; /* Aktif başlık rengi */
  font-weight: bold;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 10px 20px; /* Yatay ve dikey iç boşluk */
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease; /* Animasyon */
}

button:hover {
  background-color: #e07b00;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed; /* Devre dışı buton işaretçisi */
}

