.create-ad-container {
    display: flex;
    justify-content: space-between;
  }
  
  .step-content {
    flex: 1; /* İlan adımlarının genişlemesini sağlamak */
    padding: 20px;
  }
  
  .create-ad-container .step-content {
    margin-left: 20px; /* Sağdaki sidebar'a mesafe bırakmak için */
  }