.create-ad-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  height: 100vh;
  padding: 20px;
}

.step-content {
  margin-left: 270px;
  padding: 20px;
  width: 100%;
}

.step-indicator {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.step-box {
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.step-box.active {
  background-color: #ff8c00;
  color: white;
}

.step-box.inactive {
  background-color: #ccc;
}

.step-description {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;  /* Adımlar arasına boşluk */
}

.step-text {
  font-size: 14px;  /* Küçük yazı boyutu */
  text-align: center;
  width: 22%;  /* Her açıklamanın genişliğini ayarladık */
  margin: 0 30px
}

.step-text h2 {
  font-size: 12px; /* Başlık boyutunu küçülttük */
  color: #333;
  margin-top: 5px;
}

.step-text.active-text h2 {
  color: #ff8c00;  /* Aktif adımda yazı rengini değiştirdik */
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: #ff8c00;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
}

button:hover {
  background-color: #e07b00;
}

