.listings {
    padding: 40px;
    text-align: center;
  }
  
  .listing-item {
    display: inline-block;
    margin: 10px;
    text-align: center;
  }
  
  .listing-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  