.sidebar {
  position: absolute;
  top: 150px; /* Sayfanın üst kısmına mesafe ekleyerek aşağıya alalım */
  left: 30px; /* Sayfanın sol kısmına mesafe ekleyelim */
  width: auto; /* Genişliği otomatik olarak ayarla */
  max-width: 250px; /* Genişlik sınırını belirleyelim */
  background-color: #f4f4f4; /* Arka plan */
  padding: 20px;
  text-align: center; /* Ortalamak için */
  border-radius: 8px;
}

/* Sidebar başlığının stilini düzenle */
.sidebar-title {
  font-size: 20px;
  color: #333;
  margin-bottom: 20px;
}

/* Menü stilini düzenle */
.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Menü öğelerinin stilini düzenle */
.sidebar-menu li {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  cursor: pointer;
  padding: 10px;
  display: flex; /* Yatayda hizalamak için */
  align-items: center; /* İkonu ve metni hizalamak için */
  transition: color 0.3s;
  border-bottom: 1px solid #ccc; /* Alt çizgi ekleyelim */
}

/* Menü öğesi üzerine gelindiğinde yazı rengini değiştir */
.sidebar-menu li:hover {
  color: #ff8c00;
}

/* İkonların stilini düzenle */
.sidebar-menu li i {
  margin-right: 10px; /* İkon ile yazı arasına boşluk ekle */
  font-size: 18px; /* İkon boyutunu ayarla */
  color: #555; /* İkon rengi */
  transition: color 0.3s;
}

/* İkon üzerine gelindiğinde ikon rengini değiştir */
.sidebar-menu li:hover i {
  color: #ff8c00;
}
  